/* Add your CSS styles here */
.container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('indian-flag.jpg') center/cover no-repeat;
    z-index: -1;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.page {
    display: none;
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 15px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#audioButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#audioButton:hover {
    background-color: #2980b9;
}
